@media (min-width: 375px) {
     /* Formação */
     .box-formacao {
        height: 1300px;
    }

    /* Projetos */
    .box-projetos {
        height: 2200px;
    }
     /* Contato */
     .box-contato {
        padding: 40px;
    }
}

/* Small devices (iphone, 400px and up) */
@media (min-width: 400px) {

    /* Formação */
    .box-formacao {
        height: 1300px;
    }

    /* Projetos */
    .box-projetos {
        height: 2200px;
    }
     /* Contato */
     .box-contato {
        padding: 40px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* Formação */
    .box-formacao {
        height: 900px;
    }

    /* Projetos */
    .box-projetos {
        height: 900px;
    }

    .box-projetos img {
        width: 240px;
        height: 200px;
        border-radius: 5px;
        padding: 20px;
        border-radius: 25px;
        box-sizing: border-box;
    }

   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    /* Porojetos */
    .box-projetos img {
        width: 290px;
        height: 200px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /* Projetos */
    .box-projetos img {
        width: 100%;
    }

    .box-projetos a {
        width: 100%;
    }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    /* Projetos */
    .box-projetos img {
        width: 290px;
    }
}