
.topo {
    margin-top: 84px;
}

.topo h1{
    text-align: center;
    margin-bottom: 5px;
}
.topo h3{
    text-align: center;
    margin-bottom: 5px;
}
.topo p {
    text-align: center;
}

.contato {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

.section_icons {
    width: 55vw;
    display: flex;
    justify-content: center;
}


.icons{
    margin-right: 5rem;
    font-size: 3rem;
    color: var(--red);
}
.section_formulario {
    margin-bottom: 18px;
    width: 45vw;
}

.section_formulario form  label{
    display: block;
    font-weight: bold;
}

.section_formulario form input {
    width: 95%;
    height: 50px;
    padding: 5px;
    border: 0;
    border-bottom: 3px solid var(--primary);
    margin-bottom: 50px;
}

.section_formulario form textarea {
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    margin-top: 15px;
    width: 80%;
}

.btn {
    width: 250px;
    height: 50px;
    font-size: 1.125rem; /*18px*/
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 5px;
}
.btn_red {
    background-color: var(--red);
    color: var(--white);
}
.btn_red:hover {
    background-color: var(--primary);
    transition: 0.5s;
}


/* resposive */

/* 3840px */
@media (max-width: 3840px) {
    .section_formulario div button {
        margin-bottom: 60px;
    }
}

/* 1141px */
@media (max-width: 1141px) {
    .topo p {
        margin-bottom: 20px;
    }
}


/* 768px */
@media (max-width: 768px) {
    .contato {
        display: flex;
        flex-direction: column;
    }
    .section_icons {
        width: 100%;
        padding: 5px;
    }
    .section_formulario {
        width: 100%;
        padding: 25px;
    }
    .section_formulario div input {
        width: 50%;
    }
    .section_formulario div textarea {
        width: 80%;
    }
}

@media (max-width: 390px) {
    .section_icons {
        margin-top: 40px;
    }
    .icons {
        font-size: 1.8rem;
        margin-right: 2rem;
    }
    .section_formulario div input {
        width: 80%;
    }

    .section_formulario div textarea {
        height: 100px;
    }
    .btn {
        width: 120px;
        height: 40px;
    }

}